.footer-wrapper {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.footer {
    padding: 1.5rem 1rem;
}

.footer__column {
	float: left;
	width: 33%;
}

.footer__content {
	font-size: 1rem;
}

.about {
	text-align: center;
}

.footer__contacts {
	text-align: center;
}

.development {
	text-align: center;
}
