.header {
	padding-top: 2rem;
}

@media screen and (max-width: 480px) {
    .header__menu {
        font-size: 1.1rem;
    }

    .header__menu__link {
        &:before {
        	border-width: .85rem .9rem .85rem 0;
        	left: -.8rem;
        }

        &:after {
        	border-width: .85rem 0 .85rem .9rem;
        	right: -.8rem;
        }
    }
}
