.logo {
	margin-left: auto;
	margin-right: auto;
	padding-top: 4rem;
	width: 40%;
    position: relative;
    animation-name: dropdown;
    animation-duration: .5s;
    animation-direction: normal;
    animation-timing-function: ease;
    animation-delay: .4s;
    animation-fill-mode: both;
}

.logo__img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 640px) and (orientation: portrait) {
    .logo {
        width: 70%;
    }
}
