.rhombus__wrapper {
	width: 1.3rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.5rem;
    position: relative;
    animation-name: left__column;
    animation-duration: .8s;
    animation-direction: normal;
    animation-timing-function: ease;
    animation-delay: .8s;
    animation-fill-mode: both;
}

.rhombus {
	display: inline-block;
	border-width: .2rem;
	border-color: transparent;
	border-style: solid;
	width: .5rem;
	height: .5rem;
	background-color: #bbb;
	transform: rotate(45deg);
}
