.address {
	margin-top: 5rem;
    // position: relative;
    // animation-name: right__column;
    // animation-duration: .8s;
    // animation-direction: normal;
    // animation-timing-function: ease;
    // animation-delay: .8s;
    // animation-fill-mode: both;
}

.address__about {
	margin-top: 1.5rem;
	text-align: center;
}
