.background-image {
    position: fixed;
    left: 0;
    top: 0;
    background-image: url(../img/BG3.png);
    // background-repeat: repeat;
    z-index: -2;
    width: 100vw;
    height: 100vh;
}
