.contacts {
    text-align: center;
    position: relative;
    animation-name: left__column;
    animation-duration: .8s;
    animation-direction: normal;
    animation-timing-function: ease;
    animation-delay: .8s;
    animation-fill-mode: both;
}
