@keyframes wave {
    0% {
        transform: translate(-50%, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes bank {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-8deg);
    }
}

.kompot {
    position: absolute;
    bottom: 0;
    height: 25vh;
    min-width: 100%;
    z-index: -1;
    animation-name: goup;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-timing-function: ease-out;
    animation-fill-mode: both;

    &:before {
        content: "";
        width: 200%;
        height: 100%;
        position: absolute;
        background-color: transparent;
        border-color: transparent;
        background-image: url(../img/wave/wave3.png);
        background-repeat: repeat-x;
        background-size: contain;
        animation-name: wave;
        animation-duration: 15s;
        animation-direction: reverse;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-fill-mode: both;
    }

    &:after {
        position: absolute;
        content: "";
        right: -3rem;
        top: -15rem;
        background-image: url(../img/bank2.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 18rem;
        height: 30rem;
        transform: translate(50%, 0);
        animation-name: bank;
        animation-duration: 1.5s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        animation-fill-mode: both;
    }
}
