.request {
	line-height: 3;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    animation-name: right__column;
    animation-duration: .8s;
    animation-direction: normal;
    animation-timing-function: ease;
    animation-delay: .8s;
    animation-fill-mode: both;
}
