.separator {
	position: relative;
	background-color: #808080;
	width: 20%;
	margin: 1rem auto;
	height: .1rem;
    animation-name: left__column;
    animation-duration: .8s;
    animation-direction: normal;
    animation-timing-function: ease;
    animation-delay: .8s;
    animation-fill-mode: both;
}

.separator:before {
	content: "";
	border-radius: 50%;
	position: absolute;
	left: -0.5em;
	width: .7em;
	height: 100%;
	background-color: inherit;
}

.separator:after {
	content: "";
	border-radius: 50%;
	position: absolute;
	right: -0.5em;
	width: .7em;
	height: 100%;
	background-color: inherit;
}
