@font-face {
    font-family: Lora;
    src: url(../fonts/Lora-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: Lora;
    src: url(../fonts/Lora-Regular.ttf);
    font-style: normal;
}
