@font-face {
  font-family: LinBiolinum;
  src: url(../fonts/LinBiolinum_Rah.ttf);
  font-weight: normal;
}

@font-face {
  font-family: LinBiolinum;
  src: url(../fonts/LinBiolinum_RBah.ttf);
  font-weight: 700;
}
