/*iphone5,6 galaxy S5, */
@media screen and (max-device-width: 375px) {
  body {
    font-size: 40px;
  }

  .main-menu {
    margin-top: calc((100vh - 66px - 196px - 234px)/2 - 270px);
  }
}

@media screen and (max-device-width: 425px) {
  body {
    font-size: 40px;
  }

  .main-menu {
    margin-top: calc((100vh - 66px - 196px - 234px)/2 - 270px);
  }
}

@media screen and (max-device-width: 768px) {
  body {
    font-size: 40px;
  }

  .main-menu {
    margin-top: calc((100vh - 66px - 196px - 234px)/2 - 270px);
  }
}

@media screen and (max-height: 660px) {
  body {
    font-size: 18px;
  }

  .menu__item {
    display: inline-block;
  }

  .main-menu {
    margin-top: calc((100vh - 50px - 190px - 100px)/2 - 13px);
    width: auto;
  }

  .board {
    height: inherit;
    width: 15px;
  }
}
