*{
  margin: 0;
  padding: 0;
}

html {
    font-size: 10px;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 8px;
    }
}

// @media screen and (max-width: 640px) {
//     html {
//         font-size: 7px;
//     }
// }

body {
	font-family: LinBiolinum, Arial, Helvetica, sans-serif;
	font-size: 1.6rem;
	font-style: normal;
	font-weight: 500;
}

@import 'settings.scss';
@import 'helpers.scss';
@import 'components/components.scss';
@import 'layout/layout.scss';
@import 'typographics/typographics.scss';
