* {
  margin: 0;
  padding: 0; }

html {
  font-size: 10px; }

@media screen and (max-width: 768px) {
  html {
    font-size: 8px; } }

@media screen and (max-width: 480px) {
  html {
    font-size: 7px; } }

@media screen and (min-width: 1400px) {
  html {
    font-size: 12px; } }

body {
  font-family: Lora, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

.address {
  margin-top: 5rem;
  position: relative;
  animation-name: goup;
  animation-duration: 2s;
  animation-direction: normal;
  animation-timing-function: ease;
  animation-fill-mode: both; }

.address__about {
  margin-top: 1.5rem;
  text-align: center; }

.fullimg {
  margin-top: 1rem;
  width: 100%; }

@keyframes wave {
  0% {
    transform: translate(-50%, 0); }
  100% {
    transform: translate(0, 0); } }

@keyframes bank {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-8deg); } }

.kompot {
  position: absolute;
  bottom: 0;
  height: 25vh;
  min-width: 100%;
  z-index: -1;
  animation-name: goup;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  animation-fill-mode: both; }
  .kompot:before {
    content: "";
    width: 200%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    border-color: transparent;
    background-image: url(../img/wave/wave3.png);
    background-repeat: repeat-x;
    background-size: contain;
    animation-name: wave;
    animation-duration: 15s;
    animation-direction: reverse;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: both; }
  .kompot:after {
    position: absolute;
    content: "";
    right: -3rem;
    top: -15rem;
    background-image: url(../img/bank2.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 18rem;
    height: 30rem;
    transform: translate(50%, 0);
    animation-name: bank;
    animation-duration: 1.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-fill-mode: both; }

.logo {
  margin-left: auto;
  margin-right: auto;
  padding-top: 4rem;
  width: 40%;
  position: relative;
  animation-name: dropdown;
  animation-duration: .5s;
  animation-direction: normal;
  animation-timing-function: ease;
  animation-delay: .4s;
  animation-fill-mode: both; }

.logo__img {
  width: 100%;
  height: auto; }

@media screen and (max-width: 640px) and (orientation: portrait) {
  .logo {
    width: 70%; } }

.main-container {
  min-width: 300px;
  max-width: 960px;
  margin: 0 auto;
  overflow-x: hidden; }

.map {
  margin-top: 3rem;
  height: 50vh;
  background-image: url(../img/map_img.png);
  background-position: center; }

.menu {
  text-align: center;
  letter-spacing: .3rem;
  line-height: 1.5; }

.menu__item {
  display: inline-block; }

.main-menu {
  margin-top: calc((100vh - 36rem)/2 - 12rem);
  position: relative;
  animation-name: dropdown;
  animation-duration: 1s;
  animation-direction: normal;
  animation-timing-function: ease;
  animation-delay: .5s;
  animation-fill-mode: both; }

.menu__link {
  display: inline-block;
  position: relative;
  padding: 0 .5rem;
  border-color: transparent; }
  .menu__link:before {
    content: "";
    border-width: 1.2rem .8rem 1.2rem 0;
    border-color: transparent;
    border-style: solid;
    border-right-color: inherit;
    position: absolute;
    left: -.75rem;
    top: 0; }
  .menu__link:after {
    content: "";
    border-width: 1.2rem 0 1.2rem .8rem;
    border-color: transparent;
    border-style: solid;
    border-left-color: inherit;
    position: absolute;
    right: -.75rem;
    top: 0; }
  .menu__link:hover {
    background-color: #df88b6;
    border-color: #df88b6; }

@media screen and (max-width: 640px) {
  .main-menu__item {
    display: block;
    margin-top: 2rem; }
  .main-menu {
    margin-top: calc((100vh - 34rem)/2 - 15rem); } }

@media screen and (orientation: landscape) {
  .main-menu__item {
    display: inline-block; }
  .main-menu {
    margin-top: calc((100vh - 34rem)/2 - 4rem); } }

.rhombus__wrapper {
  width: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  position: relative;
  animation-name: left__column;
  animation-duration: .8s;
  animation-direction: normal;
  animation-timing-function: ease;
  animation-delay: .8s;
  animation-fill-mode: both; }

.rhombus {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  background-image: url(../img/cherry.png);
  background-size: contain;
  background-repeat: no-repeat; }

.post {
  position: relative;
  margin-top: 1.5rem;
  text-align: center;
  overflow: hidden; }

.post__column {
  display: inline-block;
  width: 45%;
  padding-left: 1%;
  padding-right: 1%;
  vertical-align: middle; }

.post__column_left {
  text-align: right;
  position: relative;
  will-change: left;
  animation-name: left__column;
  animation-duration: .8s;
  animation-direction: normal;
  animation-timing-function: ease;
  animation-delay: .8s;
  animation-fill-mode: both; }

.post__column_right {
  text-align: left;
  position: relative;
  will-change: right;
  animation-name: right__column;
  animation-duration: .8s;
  animation-direction: normal;
  animation-timing-function: ease;
  animation-delay: .8s;
  animation-fill-mode: both; }

@keyframes left__column {
  0% {
    left: -100%; }
  100% {
    left: 0; } }

@keyframes right__column {
  0% {
    right: -100%; }
  100% {
    right: 0; } }

.post__label {
  color: #808080;
  font-size: 1.4rem; }

.post__header {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-bottom: 1.5rem;
  will-change: left;
  animation-name: left__column;
  animation-duration: .8s;
  animation-direction: normal;
  animation-timing-function: ease;
  animation-delay: .8s;
  animation-fill-mode: both; }

.post__name {
  margin-top: .5rem;
  font-size: 2.4rem;
  font-weight: 700; }

.post__about {
  font-size: 1.4rem;
  margin-top: 1rem; }

.post__img {
  width: 100%;
  height: auto; }

.accordeon {
  margin-top: 1.5rem;
  margin-left: 2%;
  margin-right: 2%;
  position: relative;
  will-change: right;
  animation-name: right__column;
  animation-duration: .8s;
  animation-direction: normal;
  animation-timing-function: ease;
  animation-delay: .8s;
  animation-fill-mode: both; }

.accordeon__label {
  display: block;
  position: relative;
  width: 60%;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #df88b6;
  cursor: pointer; }
  .accordeon__label:hover {
    background-color: #ccc; }
  .accordeon__label:before {
    content: "";
    position: absolute;
    width: 10%;
    top: 0;
    left: -10%;
    height: 100%;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    background-color: inherit; }
  .accordeon__label:after {
    content: "";
    position: absolute;
    top: 0;
    right: -10%;
    width: 10%;
    height: 100%;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    background-color: inherit; }

.accordeon__checkbox {
  display: none; }

.post__gallery {
  max-height: 0px;
  margin-top: 2rem;
  overflow: hidden; }

.accordeon__checkbox:checked ~ .post__gallery {
  display: block;
  max-height: 9999px;
  transition: max-height .9s ease-in-out 0s; }

.post__gallery__img {
  width: 94%;
  height: auto;
  margin-right: 3%;
  margin-left: 3%;
  margin-bottom: 1rem;
  vertical-align: middle; }

.post__sentences {
  width: 80%;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-height: 0px;
  margin-bottom: 3rem;
  overflow: hidden; }

.accordeon__checkbox:checked ~ .post__sentences {
  display: block;
  max-height: 9999px;
  transition: max-height .9s ease-in-out 0s; }

.post__sentence {
  margin-top: 3rem; }

.sentence__content {
  margin-top: 1rem; }

@media screen and (max-width: 640px) {
  .post {
    padding-top: 2rem;
    padding-bottom: 2rem; }
  .post__header {
    padding-bottom: .5rem; } }

.separator {
  position: relative;
  background-color: #808080;
  width: 20%;
  margin: 1rem auto;
  height: .1rem;
  animation-name: left__column;
  animation-duration: .8s;
  animation-direction: normal;
  animation-timing-function: ease;
  animation-delay: .8s;
  animation-fill-mode: both; }

.separator:before {
  content: "";
  border-radius: 50%;
  position: absolute;
  left: -0.5em;
  width: .7em;
  height: 100%;
  background-color: inherit; }

.separator:after {
  content: "";
  border-radius: 50%;
  position: absolute;
  right: -0.5em;
  width: .7em;
  height: 100%;
  background-color: inherit; }

.socials {
  text-align: center;
  margin: 1.5rem; }

.socials__link {
  display: inline-block;
  margin: 0 1rem;
  padding: .5rem; }

.socials__link:hover {
  background-color: #eee;
  border-width: 2rem;
  border-radius: 100%; }

.language__tabs {
  text-align: center;
  padding-top: 20px; }

.tab {
  display: inline-block;
  margin: 0 15px; }

.tab:hover {
  color: #000; }

.request {
  line-height: 3;
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
  animation-name: right__column;
  animation-duration: .8s;
  animation-direction: normal;
  animation-timing-function: ease;
  animation-delay: .8s;
  animation-fill-mode: both; }

.form__text__input {
  background-color: transparent;
  border-left: none;
  border-top: none;
  border-right: none;
  outline: none;
  border-bottom: 1px solid #000;
  text-align: center; }

.form__controls {
  margin-top: 2rem;
  text-align: center; }

.request__button {
  position: relative;
  padding: 1.5rem 2rem;
  border: none;
  cursor: pointer;
  background-color: #df88b6; }
  .request__button:before {
    content: "";
    position: absolute;
    width: 10%;
    top: 0;
    left: -10%;
    height: 100%;
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
    background-color: inherit; }
  .request__button:after {
    content: "";
    position: absolute;
    top: 0;
    right: -10%;
    width: 10%;
    height: 100%;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    background-color: inherit; }
  .request__button:hover {
    background-color: #ccc; }

.contacts {
  text-align: center;
  position: relative;
  animation-name: left__column;
  animation-duration: .8s;
  animation-direction: normal;
  animation-timing-function: ease;
  animation-delay: .8s;
  animation-fill-mode: both; }

@keyframes dropdown {
  0% {
    top: -100vh; }
  100% {
    top: 0; } }

@keyframes goup {
  0% {
    bottom: calc(-25vh - 7rem); }
  100% {
    bottom: 0; } }

.background-image {
  position: fixed;
  left: 0;
  top: 0;
  background-image: url(../img/BG3.png);
  z-index: -2;
  width: 100vw;
  height: 100vh; }

.header {
  padding-top: 2rem; }

@media screen and (max-width: 480px) {
  .header__menu {
    font-size: 1.1rem; }
  .header__menu__link:before {
    border-width: .85rem .9rem .85rem 0;
    left: -.8rem; }
  .header__menu__link:after {
    border-width: .85rem 0 .85rem .9rem;
    right: -.8rem; } }

.footer-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%; }

.footer {
  padding: 1.5rem 1rem; }

.footer__column {
  float: left;
  width: 33%; }

.footer__content {
  font-size: 1rem; }

.about {
  text-align: center; }

.footer__contacts {
  text-align: center; }

.development {
  text-align: center; }

.long-page {
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
  padding-bottom: 100px;
  background: url(../img/BG3.png); }

.long-page__title {
  margin-top: 30px; }

.page {
  height: 100vh;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 100px;
  overflow: hidden; }

ul {
  list-style: none; }

@font-face {
  font-family: Lora;
  src: url(../fonts/Lora-Italic.ttf);
  font-style: italic; }

@font-face {
  font-family: Lora;
  src: url(../fonts/Lora-Regular.ttf);
  font-style: normal; }

.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  vertical-align: middle; }

.icon-cross {
  background-image: url(../img/cross.png);
  width: 30px;
  height: 30px;
  opacity: 0.7; }

.icon-cross:hover {
  opacity: 1; }

a {
  text-decoration: none;
  color: #000; }

.link_inactive {
  color: #eee; }

.title {
  text-align: center;
  font-weight: 500;
  font-style: italic; }

.title_large {
  font-size: 5rem; }

.title_medium {
  font-size: 3rem; }

.content__title {
  position: relative;
  animation-name: dropdown;
  animation-duration: .8s;
  animation-direction: normal;
  animation-timing-function: ease;
  animation-delay: .8s;
  animation-fill-mode: both; }
