* {
  margin: 0;
  padding: 0; }

html {
  font-size: 10px; }

@media screen and (max-width: 768px) {
  html {
    font-size: 8px; } }

body {
  font-family: Lora, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

.address {
  margin-top: 5rem;
  position: relative;
  animation-name: goup;
  animation-duration: 2s;
  animation-direction: normal;
  animation-timing-function: ease;
  animation-fill-mode: both; }

.address__about {
  margin-top: 1.5rem;
  text-align: center; }

.fullimg {
  margin-top: 1rem;
  width: 100%; }

@keyframes wave {
  0% {
    transform: translate(-50%, 0); }
  100% {
    transform: translate(0, 0); } }

.kompot {
  position: absolute;
  bottom: 0;
  height: 25vh;
  min-width: 100%;
  background-color: #df88b6;
  z-index: -1;
  animation-name: goup;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  animation-fill-mode: both; }
  .kompot:before {
    content: "";
    width: 200%;
    height: 7rem;
    position: absolute;
    top: -6.9rem;
    background-color: transparent;
    border-color: transparent;
    background-image: url(../img/wave/wave.png);
    background-repeat: repeat-x;
    background-size: contain;
    animation-name: wave;
    animation-duration: 15s;
    animation-direction: reverse;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: both; }
  .kompot:after {
    position: absolute;
    content: "";
    right: 0;
    top: -20rem;
    background-image: url(../img/bank2.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30rem;
    height: 30rem;
    transform: rotate(240deg);
    transform: translate(50%, 0); }

.logo {
  margin-left: auto;
  margin-right: auto;
  padding-top: 4rem;
  width: 40%;
  position: relative;
  animation-name: dropdown;
  animation-duration: .5s;
  animation-direction: normal;
  animation-timing-function: ease;
  animation-delay: .4s;
  animation-fill-mode: both; }

.logo__img {
  width: 100%;
  height: auto; }

@media screen and (max-width: 640px) and (orientation: portrait) {
  .logo {
    width: 70%; } }

.main-container {
  min-width: 300px;
  max-width: 960px;
  margin: 0 auto;
  overflow-x: hidden; }

.map {
  margin-top: 3rem;
  height: 50vh;
  background-image: url(../img/map_img.png);
  background-position: center; }

.menu {
  text-align: center;
  letter-spacing: .3rem;
  line-height: 1.5; }

.menu__item {
  display: inline-block; }

.main-menu {
  margin-top: calc((100vh - 36rem)/2 - 12rem);
  position: relative;
  animation-name: dropdown;
  animation-duration: 1s;
  animation-direction: normal;
  animation-timing-function: ease;
  animation-delay: .5s;
  animation-fill-mode: both; }

.menu__link {
  display: inline-block;
  position: relative;
  padding: 0 .5rem;
  border-color: transparent; }
  .menu__link:before {
    content: "";
    border-width: 1.2rem 1rem 1.2rem 0;
    border-color: transparent;
    border-style: solid;
    border-right-color: inherit;
    position: absolute;
    left: -1rem;
    top: 0; }
  .menu__link:after {
    content: "";
    border-width: 1.2rem 0 1.2rem 1rem;
    border-color: transparent;
    border-style: solid;
    border-left-color: inherit;
    position: absolute;
    right: -1rem;
    top: 0; }
  .menu__link:hover {
    background-color: #df88b6;
    border-color: #df88b6; }

@media screen and (max-width: 640px) {
  .main-menu__item {
    display: block;
    margin-top: 2rem; }
  .main-menu {
    margin-top: calc((100vh - 34rem)/2 - 15rem); } }

@media screen and (orientation: landscape) {
  .main-menu__item {
    display: inline-block; }
  .main-menu {
    margin-top: calc((100vh - 34rem)/2 - 4rem); } }

.rhombus__wrapper {
  width: 1.3rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  position: relative;
  animation-name: left__column;
  animation-duration: .8s;
  animation-direction: normal;
  animation-timing-function: ease;
  animation-delay: .8s;
  animation-fill-mode: both; }

.rhombus {
  display: inline-block;
  border-width: .2rem;
  border-color: transparent;
  border-style: solid;
  width: .5rem;
  height: .5rem;
  background-color: #bbb;
  transform: rotate(45deg); }

.post {
  margin-top: 1.5rem;
  text-align: center;
  overflow: hidden; }

.post__column {
  display: inline-block;
  width: 45%;
  padding-left: 1%;
  padding-right: 1%;
  vertical-align: middle; }

.post__column_left {
  text-align: right;
  position: relative;
  animation-name: left__column;
  animation-duration: .8s;
  animation-direction: normal;
  animation-timing-function: ease;
  animation-delay: .8s;
  animation-fill-mode: both; }

.post__column_right {
  text-align: left;
  position: relative;
  animation-name: right__column;
  animation-duration: .8s;
  animation-direction: normal;
  animation-timing-function: ease;
  animation-delay: .8s;
  animation-fill-mode: both; }

@keyframes left__column {
  0% {
    left: -100%; }
  100% {
    left: 0; } }

@keyframes right__column {
  0% {
    right: -100%; }
  100% {
    right: 0; } }

.human__label {
  color: #808080;
  font-size: 1.4rem; }

.human__name {
  margin-top: .5rem;
  font-size: 2.4rem;
  font-weight: 700; }

.human__about {
  font-size: 1.4rem;
  margin-top: 1rem; }

.human__img {
  width: 100%;
  height: auto; }

.separator {
  position: relative;
  background-color: #808080;
  width: 20%;
  margin: 1rem auto;
  height: .1rem; }

.separator:before {
  content: "";
  border-radius: 50%;
  position: absolute;
  left: -0.5em;
  width: .7em;
  height: 100%;
  background-color: inherit; }

.separator:after {
  content: "";
  border-radius: 50%;
  position: absolute;
  right: -0.5em;
  width: .7em;
  height: 100%;
  background-color: inherit; }

.socials {
  text-align: center;
  margin: 1.5rem; }

.socials__link {
  display: inline-block;
  margin: 0 1rem;
  padding: .5rem; }

.socials__link:hover {
  background-color: #eee;
  border-width: 2rem;
  border-radius: 100%; }

.language__tabs {
  text-align: center;
  padding-top: 20px; }

.tab {
  display: inline-block;
  margin: 0 15px; }

.tab:hover {
  color: #000; }

.request {
  line-height: 3;
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
  animation-name: right__column;
  animation-duration: .8s;
  animation-direction: normal;
  animation-timing-function: ease;
  animation-delay: .8s;
  animation-fill-mode: both; }

.contacts {
  text-align: center;
  position: relative;
  animation-name: left__column;
  animation-duration: .8s;
  animation-direction: normal;
  animation-timing-function: ease;
  animation-delay: .8s;
  animation-fill-mode: both; }

@keyframes dropdown {
  0% {
    top: -100vh; }
  100% {
    top: 0; } }

@keyframes goup {
  0% {
    bottom: calc(-25vh - 7rem); }
  100% {
    bottom: 0; } }

.header {
  padding-top: 2rem; }

@media screen and (max-width: 480px) {
  .header__menu {
    font-size: 1.1rem; }
  .header__menu__link:before {
    border-width: .85rem .9rem .85rem 0;
    left: -.8rem; }
  .header__menu__link:after {
    border-width: .85rem 0 .85rem .9rem;
    right: -.8rem; } }

.footer-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%; }

.footer {
  padding: 2rem 0; }

.footer__column {
  float: left;
  width: 33%; }

.footer__content {
  font-size: 1rem; }

.about {
  text-align: center; }

.footer__contacts {
  text-align: center; }

.development {
  text-align: center; }

.long-page {
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
  padding-bottom: 100px;
  background-color: #fdfaf7; }

.long-page__title {
  margin-top: 30px; }

.page {
  height: 100vh;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 100px;
  overflow: hidden; }

ul {
  list-style: none; }

@font-face {
  font-family: Lora;
  src: url(../fonts/Lora-Italic.ttf);
  font-style: italic; }

.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  vertical-align: middle; }

.icon-cross {
  background-image: url(../img/cross.png);
  width: 30px;
  height: 30px;
  opacity: 0.7; }

.icon-cross:hover {
  opacity: 1; }

a {
  text-decoration: none;
  color: #000; }

.link_inactive {
  color: #eee; }

.title {
  text-align: center;
  font-weight: 500;
  font-style: italic; }

.title_large {
  font-size: 5rem; }

.title_medium {
  font-size: 3rem; }

.content__title {
  position: relative;
  animation-name: dropdown;
  animation-duration: .8s;
  animation-direction: normal;
  animation-timing-function: ease;
  animation-delay: .8s;
  animation-fill-mode: both; }
