.title {
	text-align: center;
	font-weight: 500;
    font-style: italic;
}

.title_large {
	font-size: 5rem;
}

.title_medium {
	font-size: 3rem;
}

.content__title {
    position: relative;
    animation-name: dropdown;
    animation-duration: .8s;
    animation-direction: normal;
    animation-timing-function: ease;
    animation-delay: .8s;
    animation-fill-mode: both;
}
